.primario {
    background-color: #024594 !important;
}

#titulo {
    padding: 1% 1%;
}

.row {
    width: 100%
}

.iconos {
    padding: 0 0 0 5%;
}

.waltmaysa {
    width: 180px;
    height: 8px;
    margin-right: 0%;
    padding-right: 0%;
}