.primario{
    background-color: #024594 !important;
}
#titulo{
    padding: 1% 0 1%;
}
.iconos{
    padding: 0 0 0 5%;
}


.multiple-items{
      width: 80%;
      margin: 20px auto;

}
.slick-prev:before,.slick-next:before {
  color: black !important;
}
