.primario{
    background-color: #024594 !important;
}
#titulo{
    padding: 1% 1% ;
}
.row{
  width: 100%
}
.iconos{
    padding: 0 0 0 5%;
}

div#publicidad{
  width: 75% ;
}

.waltmaysa{
  width: 180px;
  height: 8px;
  margin-right: 0%;
  padding-right: 0%;
}

.multiple-items{
      width: 81%;
      margin: 40px auto;

}
.multiple-items div{
      width: 95%;
      margin: 40px auto;

}

footer{
  padding: 0;
  margin: 0;
  border: 0;
}
#pie{
  position: relative;
  height: 10em;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
}
#pie1{

  margin-bottom: 0;
  padding: 0;
}

#ElectrodomesticosMovil{
  display:none;

}
#TecnologiaMovil{
  display:none;

}

div li.oculto{
  display: none;
}

.slick-prev:before,.slick-next:before {
  color: black !important;
}
@media only screen and (max-width: 600px)    {

  .single-items{
        width: 50%;
        margin:40px auto;
        align-self: center;



  }

  .single-items div{



  }
  #ElectrodomesticosMovil{
    display:initial;


  }
  #TecnologiaMovil{
    display:initial;

  }

  #Electrodomesticos{
    display:none;
  }
  #Tecnologia{
    display:none;
  }

  h1{
    font-size: 2rem !important;
  }

  div#publicidad{
    width: 100% ;
  }

  div li.oculto{
    display: inline;
  }
  

}

@media only screen and (max-width: 991px) {
  div li.oculto{
    display: inline;
  }
}
