{% block footer %}
<div id="pie1" class="card card-nav-tabs">
    <div id="pie" class="card-body">
        <div id="contactos">
            <h4 class="card-title">Redes Sociales</h4>
            <h4 class="card-title">Contactos</h4>
            <h4 class="card-title">Quick Links</h4>
            <h4 class="card-title">Aceptamos</h4>
            <div id="redes-sociales">
                <p> Siguenos en:</p>
                <img src="/assets/images/redes/facebook.png"></img>
                <img src="/assets/images/redes/gorjeo.png"></img>
                <img src="/assets/images/redes/instagram.png"></img>
            </div>
            <div id="Informacion">
                <img src="/assets/images/redes/whatsapp.png">Telefono:0984995877</img>
                <a href="mailto:waltmaysa.sa@gmail.com">waltmaysa.sa@gmail.com</a>
                <a href="mailto:wsantacruzec@hotmail.com">wsantacruzec@hotmail.com</a>
                <p>Cdla Alborada Etapa 12</p>
                <p>C C Gran Albocentro Bloque J6</p>
                <p>Guayaquil</p>
            </div>
            <div id="quick">
                <a href="contactos">Contactos</a><br>
                <a href="nosotros">Nosotros</a><br>
                <a href="productos">Productos</a>
            </div>
            <div id="tarjetas">
                <img src="/assets/images/tarjetas/tarjeta-mastercard.png"></img>
                <img src="/assets/images/tarjetas/american-express.png"></img>
                <img src="/assets/images/tarjetas/visa.png"></img>
            </div>
        </div>

    </div>
</div>
{% endblock %}