{% block footer %}
<div id="pie1" class="card card-nav-tabs m-0 py-lg-5">
    <div id="pie" class="card-body">
        <div id="contactos" class="container px-auto">
            <div class="row row-cols4 my-lg-5">
                <div id="redes-sociales" class="col-sm my-2">
                    <h4 class="card-title">Redes Sociales</h4>
                    <p> Siguenos en:</p>
                    <p>
                        <a href="https://www.facebook.com/waltmaysa16" target="_blank">
                            <img src="/assets/images/redes/facebook.png"></img>
                            Waltmaysa
                        </a>

                    </p>
                    <p>
                        <a href="https://www.instagram.com/waltmaysa_sa/" target="_blank">
                        <img src="/assets/images/redes/instagram.png"></img>
                        @waltmaysa_sa
                        </a>
                    </p>


                </div>
                <div id="Informacion" class="col-sm my-2">
                    <h4 class="card-title">Contactos</h4>
                    <img src="/assets/images/redes/whatsapp.png">Telefono:0984995877</img>
                    <a href="mailto:waltmaysa.sa@gmail.com">waltmaysa.sa@gmail.com</a>
                    <a href="mailto:wsantacruzec@hotmail.com">wsantacruzec@hotmail.com</a>
                    <p>Cdla Alborada Etapa 12 <br>C C Gran Albocentro Bloque J6 Guayaquil</p>
                </div>
                <div id="quick" class="col-sm my-2">
                    <h4 class="card-title">Quick Links</h4>
                    <a href="contactos">Contactos</a><br>
                    <a href="nosotros">Nosotros</a><br>
                    <a href="productos/todos">Productos</a>
                </div>
                <div id="tarjetas" class="col-sm my-2">
                    <h4 class="card-title">Aceptamos</h4>
                    <img src="/assets/images/tarjetas/tarjeta-mastercard.png"></img>
                    <img src="/assets/images/tarjetas/american-express.png"></img>
                    <img src="/assets/images/tarjetas/visa.png"></img>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
