{% block body %}
<!--Bootstrap js-->
<!--Material js-->
<script src="scripts/bootstrap-material-design/js/bootstrapMaterialDesign.js"></script>
<script src="scripts/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="scripts/slick-carousel/slick/slick.min.js"></script>

<script src="scripts/@popperjs/core/dist/umd/popper.min.js"></script>

<script src="scripts/moment/min/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="scripts/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="scripts/nouislider/distribute/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="scripts/material-kit/assets/js/material-kit.js" type="text/javascript"></script>
<script src="js/index.js"></script>
{% endblock %}