.primario {
    background-color: #024594 !important;
}

#titulo {
    padding: 1% 1%;
}

.row {
    width: 100%
}

.iconos {
    padding: 0 0 0 5%;
}

div#publicidad {
    width: 75%;
}

.waltmaysa {
    width: 180px;
    margin-right: 0%;
    padding-right: 0%;
}

.multiple-items {
    width: 81%;
    margin: 40px auto;
}

.multiple-items div {
    width: 95%;
    margin: 40px auto;
}

footer {
    padding: 0;
    margin: 0;
    border: 0;
}

#ElectrodomesticosMovil {
    display: none;
}

#TecnologiaMovil {
    display: none;
}

div li.oculto {
    display: none;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

p {
    word-wrap: break-word;
}

.px-auto {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 80%;
}

@media only screen and (max-width: 991px) {
    div li.oculto {
        display: inline;
    }
}

@media only screen and (max-width: 600px) {
    .single-items {
        width: 50%;
        margin: 40px auto;
        align-self: center;
    }
    .single-items div {}
    #ElectrodomesticosMovil {
        display: initial;
    }
    #TecnologiaMovil {
        display: initial;
    }
    #ElectrodomesticosMovil div h1 {
        font-size: 22px;
        text-align: center;
    }
    #TecnologiaMovil div h1 {
        font-size: 22px;
        text-align: center;
    }
    #Electrodomesticos {
        display: none;
    }
    #Tecnologia {
        display: none;
    }
    h1 {
        font-size: 2rem !important;
    }
    div#publicidad {
        width: 100%;
    }
    div li.oculto {
        display: inline;
    }
}

#redes-sociales p,
#Informacion p,
#quick a,
#Informacion a {
    font-size: 15px;
}

#redes-sociales img {
    width: 10%;
    padding-right: 2%;
    font-size: 15px;
}

#Informacion img {
    width: 10%;
    padding-right: 2%;
}

#Informacion p {
    margin: 0;
}

#tarjetas img {
    width: 15%;
    padding-right: 2%;
    font-size: 15px;
}

div.col-lg-6.col-md-8.ml-auto.mr-auto {
    margin-top: 15px;
}

.cardcm:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

#search-bar {
    margin: auto;
}