{% extends "../layouts/head.html" %} {% block body %}

<body>
    {% include "../partials/header.html" %}

    <!-- Trabajar aquí lo que haya que agregar -->
    <div id="tarjetaformulario" class="card card-nav-tabs">
        <div id="formulariodiv" class="card-body">
          <h1>Contáctenos</h1>
          <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nombre</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Apellido</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Email</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-3">
      <label for="inputState">Ciudad</label>
      <select id="inputState" class="form-control">
        <option selected>Guayaquil</option>
        <option>Quito</option>
        <option>Cuenca</option>
      </select>
    </div>
    <div class="form-group">
    <label class="label-control">Datetime Picker</label>
    <input type=date class="form-control" />
</div>
  </div>

  <div class="form-group">
    <label for="inputAddress">Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
        </div>
      </div>

    {% include "../partials/footer.html" %} {% include "../partials/globalScripts.html" %}

</body>
{% endblock %}
