{% extends "../layouts/head.html" %} {% block body %}

<body>
    {% include "../partials/header.html" %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container ">
            <div class="row row-cols-2">
                <div class="col-sm">
                    <h1 class="display-4">¡Siempre para ti!</h1>
                    <p class="lead text-justify">La tecnología ahora es un pilar fundamental para el comercio. Por eso en waltmaysa te ofrecemos el mejor servicio con los mejores precios del mercado.</p>
                <div class="container">
                    <div class="row row-cols-3 py-3">
                        <div class="col-sm m-0">
                            <h2 class="text-info font-weight-bold m-0">3</h2>
                            <p class="h5 m-0">años de experiencia</p>
                        </div>
                        <div class="col-sm m-0">
                            <h2 class="text-info font-weight-bold m-0">+10MIL</h2>
                            <p class="h5 m-0">Clientes Satisfechos</p>
                        </div>
                        <div class="col-sm m-0">
                            <h2 class="text-info font-weight-bold m-0">100%</h2>
                            <p class="h5 m-0">Confiable</p>
                        </div>

                    </div>
                    
                </div>
                </div>
                <div class="col-sm">
                    <img class="img-fluid" src="/assets/images/local.jpeg" alt="local">
                </div>
            </div>
            <div class="row w-100 mx-auto">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1hohOvQjDvKLPTmE-E1kOWfQ5SDCihKiA" height="300" class="w-100 my-5"></iframe>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="info">
            <h4 class="info-title">¿Quiénes Somos?</h4>
            <p class="text-dark text-justify" style="font-size:16px">Somos un Grupo empresarial, dedicado a la distribución local de Electrodomesticos, Tecnologia, Hogar y Jugetería.</p>
        </div>
        <div class="info">
            <h4 class="info-title">Servicios</h4>
            <ul class="fa-ul m-0">
                <li class="py-1 px-auto"><span class="material-icons fa-li">
                    done
                    </span>Hacemos Delivery las 24 horas del dia y los 7 dias de la semana.</li>
                <li class="py-1 px-auto"><span class="material-icons fa-li">
                    done
                    </span></i></span>Los mejores precios de todo el pais.</li>
                <li class="py-1 px-auto"><span class="material-icons fa-li">
                    done
                    </span></i></span>Envios a nivel Nacional 100% Garantizados.</li>
                <li class="py-1 px-auto"><span class="material-icons fa-li">
                    done
                    </span>Atencion al cliente 24/7.</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="w-100 col">
            <h4 class="info-title">Desarrolladores</h4>
        </div>
        <div class="row p-3">
            <div class="col-sm">
                <h5 class="info-title">Walter Santaruz</h5>
                <p class="text-justify">Creativo, responsale, proactivo y organizado. Soy un full stack developer con facilidade adapación orientado a la mejora continua e innovación, en busqueda de nuevos retos.</p>
            </div>
            <div class="col-sm">
                <h5 class="info-title">Ricardo Villacis</h5>
                <p class="text-justify">Líder del grupo y con experiencia siéndolo.Tiene habilidades para adaptarse fácilmente a lo nuevo y  tiene buena comunicación con los miembros del grupo, su fuerte es front end en el área de desarrollo. Cuenta con gran capacidad para plantear soluciones de problemas.</p>
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                <h5 class="info-title">Evelyn Mejia</h5>
                <p class="text-justify">Descripcion</p>
            </div>
            <div class="col-sm">
                <h5 class="info-title">Carlos Flores</h5>
                <p class="text-justify">Descripcion</p>
            </div>
        </div>
    </div>

    {% include "../partials/footer.html" %} {% include "../partials/globalScripts.html" %}

</body>
{% endblock %}